.Main {
    min-height: 100%;
    margin:0 auto;
    max-width: 100%;
}

.Boddy {
    width:100%;
}

.Header {
    display:flex;
    flex-direction: row;
    width:100%;
}

.Gallerie {
    margin-top:30px;
    margin-bottom: 20px;
    max-width:1240px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

