.kasa-lodging-cover {
    width:1240px;
    max-width: 1240px;
    height:415px;
    border-radius: 25px;
}

.kasa-lodging {
    font-weight: 500;
    color:#ff6060;
}

.kasa-lodging h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;

}

.kasa-lodging  h3 {
    font-weight: 500;
    font-size: 18px;
}