.section-lodging {
    max-width: 90%;
}
.kasa-lodging {
    width:1240px;
    max-width: 100%;
    font-weight: 500;
    color:#ff6060;
}

.kasa-lodging h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

.kasa-lodging  h3 {
    font-weight: 500;
    font-size: 18px;
}

.kasa-lodging-carousel {
    width:1240px;
    max-width:100%;
}

.kasa-lodging-carousel-arrows{
    margin-top: 20px;
    position: absolute;
    width:1240px;
    max-width: 90%;
    height:415px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kasa-lodging-carousel-arrows-left {
    margin-left:23px;
}

.kasa-lodging-carousel-arrows-right {
    margin-right:23px;
}

.kasa-lodging-carousel-cover {
    width:1240px;
    max-width: 100%;
    margin-top: 20px;
    height:415px;
    border-radius: 25px;
    object-fit: cover;
}

.kasa-header-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kasa-header-lodging-title {
    margin-top:20px;
}
.kasa-header-lodging-title-tags {
    display:flex;
    flex-direction: row;
    margin-top: 23px;
    margin-bottom: 24px;
    font-size: 14px;
    color: white;
}

.kasa-header-lodging-title-tags-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:115px;
    height: 25px;
    background-color: #ff6060;
    border-radius: 10px;
    margin-right: 10px;
}

.kasa-header-lodging-title-tags-tag p {
    margin-left: 10px;
    margin-right: 10px;
}

.kasa-header-lodging-host {
    margin-top:24px;
}
.kasa-header-lodging-host-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    text-align: right;
}

.kasa-header-lodging-host-profil-name {
    width: 93px;
    margin:0;
}

.kasa-header-lodging-host-profil-img {
    width: 64px;
    height: 64px;
    border-radius: 35px;
}

.kasa-header-lodging-host-rating {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 20px;
}

.kasa-header-lodging-host-rating img {
    width:30px;
    height: 30px;
}

.kasa-lodging-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:26px;
    width:1240px;
    max-width: 100%;
    margin-bottom: 40px;
}

@media screen and (max-width: 500px) /* Ecran = Résolution < à 315px */
{
    .kasa-header-lodging {
        display: flex;
        flex-direction: column;
    }

    .kasa-lodging-carousel {
        height:300px;
    }

    .kasa-lodging-carousel-arrows {
        height: 300px;
        margin-top: 40px;
    }
    
    .kasa-lodging-carousel-arrows-left {
        margin-left:0px;
        width:40px;
    }
    
    .kasa-lodging-carousel-arrows-right {
        margin-right:0px;
        width:40px;

    }

    .kasa-lodging-carousel-cover {
        height:300px;
    }


    .kasa-header-lodging-title {
        margin-bottom:0px;
    }
    
    .kasa-header-lodging-title-tags {
        margin-bottom: 15px;
    }
    
    .kasa-header-lodging-title-tags-tag p {
        font-size: 12px;
    }
    

    .kasa-header-lodging-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top:0;
    }

    .kasa-header-lodging-host-profil {
        width:135px;
    }

    .kasa-header-lodging-host-profil-name {
        width:60px;
    }

    .kasa-lodging  h3 {
        font-weight: 500;
        font-size: 13px;
    }
    
    .kasa-header-lodging-host-rating img {
        width:20px;
        height: 20px;
    }
    

    .kasa-lodging-infos {
        flex-direction: column;
    }    
}