.kasa-logo {
    margin-left: 100px;
    margin-top: 40px;
    width: 210.32px;
    height: 68px;
}

@media screen and (max-width: 840px) /* Ecran = Résolution < à 840 */
{
    .kasa-logo {
        margin-left: 50px;
    }
}


@media screen and (max-width: 575px) /* Ecran = Résolution < à 575 */
{
    .kasa-logo {
        margin-left: 40px;
        width:145px;
        height: 47px;
    }
}

@media screen and (max-width: 375px) /* Ecran = Résolution < à 375 */
{
    .kasa-logo {
        margin-left: 25px;
    }
}