.kasa-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    margin-top:40px;
}

.kasa-services-headband {
    z-index: 2;
    background-color:#FF6060;
    max-width:90%;
    width:1023px;
    height: 47px;
    border-radius: 5px;
    color:white;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.kasa-services-headband h3 {
    margin-left:18px;
    font-weight:500;
}

.kasa-services-headband em{
    margin-right:20px;
}

.kasa-services-p {
    margin-top: -20px;
    background-color: #F6F6F6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    max-width:90%;
    width:1023px;
    min-height: 146px;
    color:#FF6060;
    font-weight:400;
}

.kasa-services-p p{
    margin-top:15px;
    margin-left:18px;
}

@media screen and (max-width: 840px) /* Ecran = Résolution < à 840 */
{
    .kasa-services-headband h3 {
        font-size: 20px;
    }

    .kasa-services-p p{
        font-size: 16px;
        margin-right:10px;

    }

    .kasa-services-p {
        min-height: 100px;
    }
}

@media screen and (max-width: 446px) /* Ecran = Résolution < à 446 */
{
    .kasa-services-headband h3 {
        font-size: 13px;
    }

    .kasa-services-p p{
        font-size: 12px;
        margin-right:10px;
    }

    .kasa-services-p {
        min-height: 120px;
    }
}